FLUJO NODO-RED/campesino.json
[
    {
        "id": "e8748bd2430e221a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71d996f055e6a6cf",
        "type": "mqtt out",
        "z": "e8748bd2430e221a",
        "name": "",
        "topic": "campesino/led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dfce05c7c16b2cfd",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "de68c47b68c7d727",
        "type": "ui_switch",
        "z": "e8748bd2430e221a",
        "name": "",
        "label": "3 leds",
        "tooltip": "",
        "group": "4ae15e344e94b5fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "71d996f055e6a6cf"
            ]
        ]
    },
    {
        "id": "de41c04b09650296",
        "type": "ui_button",
        "z": "e8748bd2430e221a",
        "name": "",
        "group": "4ae15e344e94b5fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "71d996f055e6a6cf"
            ]
        ]
    },
    {
        "id": "d9aefabd3da53f53",
        "type": "inject",
        "z": "e8748bd2430e221a",
        "name": "Inicio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "de68c47b68c7d727",
                "de41c04b09650296"
            ]
        ]
    },
    {
        "id": "dfce05c7c16b2cfd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ae15e344e94b5fc",
        "type": "ui_group",
        "name": "Activar",
        "tab": "9427251f5ef8bc4e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9427251f5ef8bc4e",
        "type": "ui_tab",
        "name": "Proyectos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]